version: '3.5'

# XXX TODO:
# - set time to localtime/host time inside the containers.

services:
  app:
    build: backend/app
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5000"]
    environment:
      - TZ="Europe/Berlin"
      - MC_TOKEN="loldude22changeMe"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8071:5000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://logs7.papertrailapp.com:44195"
        tag: "{{.Name}}/{{.ID}}"

  dwd:
    build: backend/dwd
    restart: unless-stopped
    environment:
      - TZ="Europe/Berlin"
      - MC_TOKEN="loldude22changeMe"
    volumes:
      - dwd:/data
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - app
    logging:
      driver: syslog
      options:
        syslog-address: "udp://logs7.papertrailapp.com:44195"
        tag: "{{.Name}}/{{.ID}}"

  tileserver:
    build: tileserver-gl-meteocool
    restart: unless-stopped
    environment:
      - TZ="Europe/Berlin"
    volumes:
      - dwd:/data
      - ${PWD}/tileserver-gl-meteocool/config:/etc/ts
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - dwd
    ports:
      - "8070:80"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://logs7.papertrailapp.com:44195"
        tag: "{{.Name}}/{{.ID}}"

  elk:
    image: diecktator/elk:latest
    ports:
      - 11111:5601
      - 11112:5044
      - 11113:9200

volumes:
  dwd:
