127.0.0.1:8040 localhost:8040 meteocool.com meteocool.com:8040 {
	root /srv
	log stdout
	tls off

	proxy /tile app:5000 {
		websocket
		transparent
		except /internal/publish_new_tileset
		try_duration 10s
		try_interval 500ms
	}

	proxy /socket.io app:5000 {
		websocket
		header_upstream Host localhost
		header_upstream X-Real-IP {remote}
		header_upstream X-Forwarded-For {remote}
	}

	proxy /post_location app:5000 {
		transparent
	}

	proxy /rain_notify_browser app:5000 {
		websocket
		transparent
	}

	proxy /clear_notification app:5000 {
		websocket
		transparent
	}

	proxy /unregister app:5000 {
		transparent
	}

	proxy /lightning_cache datasource:5000 {
		transparent
	}

	proxy /mesocyclones/ datasource:5000 {
		transparent
	}
}

127.0.0.1:8040/pushpreview localhost:8040/pushpreview meteocool.com/pushpreview meteocool.com:8040/pushpreview {
	tls off
	root /pushpreview/
}

127.0.0.1:8041 localhost:8041 {
	tls off
	proxy / tileserver:80 {
		transparent
		header_upstream X-Forwarded-Proto https
	}
}
