 3-58/5 * * * * sh -c 'if ! [ -e "/tmp/.lock" ]; then touch /tmp/.lock ; cd /usr/src/app && make update api OUT=/data/ ; rm -f /tmp/.lock ; fi' > /proc/1/fd/1 2>/proc/1/fd/2
 @reboot sh -c 'if ! [ -e "/tmp/.lock" ]; then touch /tmp/.lock ; cd /usr/src/app && make update api OUT=/data/ ; rm -f /tmp/.lock ; fi' > /proc/1/fd/1 2>/proc/1/fd/2

