127.0.0.1:8040 {
	root /srv

	proxy /tile app:5000 {
		websocket
		transparent
		# protects the internal api calls
# XXX not needed anymore?
		except /internal/publish_new_tileset
	}

	log stdout

	proxy /socket.io app:5000 {
		websocket
		transparent
	}
}

127.0.0.1:8041 {
	#root /srv

	proxy / tileserver:80 {
	    transparent
            header_upstream X-Forwarded-Proto https
	}

	log stdout
}
