127.0.0.1:8040, localhost:8040 {
	root /srv
	log stdout

	proxy /tile app:5000 {
		websocket
		transparent
		except /internal/publish_new_tileset
		try_duration 10s
		try_interval 500ms
	}

	proxy /socket.io app:5000 {
		websocket
		transparent
	}

	proxy /post_location app:5000 {
		transparent
	}

	proxy /rain_notify_browser app:5000 {
		websocket
		transparent
	}

	proxy /clear_notification app:5000 {
		websocket
		transparent
	}

	proxy /unregister app:5000 {
		transparent
	}

	proxy /lightning_cache datasource:5000 {
		transparent
	}

	#proxy /reflectivity dwd:5000 {
	#	transparent
	#}
}

127.0.0.1:8040/pushpreview, localhost:8040/pushpreview {
	root /pushpreview/
}

127.0.0.1:8041, localhost:8041 {
	proxy / tileserver:80 {
		transparent
		header_upstream X-Forwarded-Proto https
	}

	log stdout
}
