unimplemented.org {
	gzip
	tls {
		max_certs 10
	}
	root /var/www

	proxy / app:3000 {
		transparent
		# protects the internal api calls
		except /internal/publish_new_tileset
	}
}

a.tileserver.unimplemented.org b.tileserver.unimplemented.org {
	gzip
	tls {
		max_certs 10
	}
	#root /var/www

	proxy / tileserver:80 {
	    transparent
	}
}
