unimplemented.org {
	gzip
	tls {
		max_certs 10
	}
	root /var/www

	proxy / app:3000 {
	    transparent
	}
}

a.tileserver.unimplemented.org b.tileserver.unimplemented.org {
	gzip
	tls {
		max_certs 10
	}
	#root /var/www

	proxy / tileserver:80 {
	    transparent
	}
}
