.locate-me {
	top: 65px;
	left: .5em;
}

.ol-touch .locate-me {
	top: 80px;
}

.locate-me-btn img {
	width: 15px;
	height: 15px;
}

#navbar #spacer {
	display: none;
	width: 100%;
	height: 32px;
}

#logolink {
	float: left;
	height: 100%;
	margin-right: 6px;
}

#logotext {
	height: 80%;
	line-height: 95%;
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 1.3rem;
}

#statustext {
	height: 20%;
	line-height: 80%;
}

#compositBar {
	width: 50%;
}

#navbar #clockbg {
	display: none;
	background-color: #696969;
	width: 66px;
	height: 20px;
	position: absolute;
	top: 13px;
	left: 15px;
	border-radius: 7px;
}
