.ol-attribution.ol-uncollapsible {
	height: 1.2em !important;
	line-height: 0.8em !important;
}

#nowcastIcon {
	width: 13px;
	height: 13px;
}

#nowcastLoading { }

.locate-me {
	top: 7px;
	right: .5em;
	cursor: pointer;
}

.ol-touch .locate-me {
	padding-top: constant(safe-area-inset-top);
	top: 7px;
}

.locate-me-btn img {
	width: 15px;
	height: 15px;
}

.play {
	top: 39px;
	right: .5em;
	cursor: pointer;
}

.ol-touch .play {
	padding-top: constant(safe-area-inset-top);
	top: 48px;
}

.ol-rotate {
	left: .5em;
	right: auto !important;
	top: 66px !important;
}

.ol-touch .ol-rotate {
	padding-top: constant(safe-area-inset-top) !important;
	top: 84px !important;
}

#toggleMode {
	cursor: pointer;
}

#openSettings {
	cursor: pointer;
	display: none;
}

#navbar #spacer {
	padding-top: constant(safe-area-inset-top);
	display: none;
	width: 100%;
	height: 32px;
}

.ol-overviewmap {
	padding-top: constant(safe-area-inset-top);
}

#logolink {
	float: left;
	height: 100%;
	margin-right: 6px;
}

#logotext {
	height: 80%;
	line-height: 95%;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 1.3rem;
}

#statustext {
	height: 20%;
	line-height: 80%;
}

#compositBar {
	width: 50%;
}
@media (max-width: 990px) {
	#compositBar {
		margin-top: -0.4rem;
		width: 75%;
	}
}

#navbar #clockbg {
	display: none;
	background-color: #696969;
	width: 66px;
	height: 20px;
	position: absolute;
	top: 13px;
	left: 15px;
	border-radius: 7px;
}

#legend {
	width: 100%;
}

blockquote {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	font-style: italic;
}

hr {
	width: 75%;
}

#body {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 70px;
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: rgb(248, 249, 250);
	text-align: center;
	width: 100%;
}

#bodywrap {
	max-width: 750px;
	text-align: justify;
	margin:0 auto;
}

.warning {
	padding: 1%;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 6%;
	padding-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fbecb6;
	border-radius: 15px;
}

.deflag {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDUgMyI+DQo8cGF0aCBkPSJtMCwwaDV2M2gtNXoiLz4NCjxwYXRoIGZpbGw9IiNkMDAiIGQ9Im0wLDFoNXYyaC01eiIvPg0KPHBhdGggZmlsbD0iI2ZmY2UwMCIgZD0ibTAsMmg1djFoLTV6Ii8+DQo8L3N2Zz4NCg==');
	width: 170px;
	height: 150px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	margin-top: 15px;
	margin-right: 50px;
}

.logoglow {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
	display: inline-block;
	padding: 0;
	padding-bottom: 2px;
}

.subsectionHead {
	margin-top: 2rem;
}

.sectionHead {
	margin-top: 3rem;
}

.titlemark {
	margin-right: 10px;
}

.wrapfig-l {
	float: left;
	width: 50%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.wrapfig-l img {
	width: 100%;
	height: 100%;
}

.figure {
	width: 100%;
}

.figure img {
	width: 100%;
	height: 100%;
}

.wrapfig-r {
	float: right;
	width: 50%;
	margin-left: 2%;
	margin-bottom: 2%;
}

.wrapfig-r img {
	width: 100%;
	height: 100%;
}

.inline_legend {
	width: 80%;
}

.justify {
	text-align: justify;
	font-size: 90%;
}

.footer {
	width: 100%;
	text-align: center;
	font-size: 80%;
	color: rgb(30,30,30);
	margin-top: 30px;
	padding-bottom: 20px;
}

.caption, .ecti-1095 {
	font-style: italic;
}

.caption {
	font-size: 85%;
}

.tcolorbox {
	background-color: #bbe7ed;
	padding: 5px;
	border-radius: 14px;
	margin-bottom: 12px;
}

.tcolorbox h5 {
	margin-left: 20px;
	margin-top: 3px;
}

.tcolorbox img {
	width: 100%;
}

.tcolorbox .tcolorboxInner {
	background-color: #f8f9fa;
	padding: 25px;
	padding-bottom: 10px;
	border-radius: 0 0 14px 14px;
}

.modal-body {
	padding: 30px;
}

.modal-body .volunteers {
	float: right;
	padding-left: 10px;
	width: 45%;
}

.modal-body .lockscreen {
	float: right;
	width: 35%;
	margin-left: 2%;
	margin-bottom: 2%;
}

#appstoreBtns {
	clear: right;
	width: 100%;
	text-align: center;
}

#appstoreBtns img {
	width: 30%;
	margin: 2%;
	margin-top: 0%;
	margin-bottom: 0%;
}

#iosBtn {
	width: 27% !important;
}

.clickable {
	cursor: pointer;
}

.store {
	height: 160px;
	object-fit: scale-down;
}

.pulse {
	animation: pulse 3s infinite;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.8);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(0.8);
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);
	}
}

.forecastTime {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	z-index: 1000;
	width: 70px;
	margin-top: 10px;
	display: none;
}

.forecastTimeInner {
	display: block;
	margin: 1px;
	padding: 0;
	color: #fff;
	text-align: center;
	background-color: rgba(0,60,136,.5);
	border: none;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.popover-body {
	height: 210px;
	overflow-y: auto;
	white-space: pre-wrap;
}

/* vim: set sw=8 ts=8 tw=80 autoindent noexpandtab : */
